@font-face {
    font-family: "hamburgerHeaven";
    src: url('hamburgerHeaven.woff');
}

body {
    background-color: white;
}

.headTitle {
    font-family: "hamburgerHeaven";
    font-size: 40px;
    color: #ffff99;
    background-image: linear-gradient(#990000, #330000);
    text-shadow: 0px 3px 5px rgba(194, 192, 192, 0.9);

}

.mainDisplay {
    padding-left: 50px;
}

.cartDisplay {
    padding-right: 50px;
}

.navBar{
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    border-radius: 90px;
    border-color: #660000;
    border-width: 1px;
    border-style: solid;

    font-size: 12px;
    font-weight: normal;
    text-align: center;

    font-family: Verdana, Geneva, sans-serif;
}

.navBarIcons {
    text-align: center;
    vertical-align: middle;
    height: 80px;
    width: auto;
}

.navBar a {
    color: #993300 ;
}

.navBar a:link {
    text-decoration: none;
}

.navBar a:hover{
    color: #ff6600;
}


#trash {
    width: 30px ;
}

#cart {
    width: 50px ;
}

#productImg{
    width : auto;
    height: 100px;
}

#categoryCard{
    text-align: center;
    horizontal-align: middle;
    width: 230px;
}

#infoIcon {
    width: 20px ; 
}


#cartOperation{
  font-weight: bold;  
  font-size: 1.5em ;
}


.centerDisplayContent{
    margin: 0 auto;
    float: none;
    width: 100%;
    text-align: center;
}

.alignTextRight {
    text-align: right;
    margin-right: 50px;
}


#categoryTitle {
    font-family: "hamburgerHeaven";
    font-size: 25px;
    padding-left: 20px;
    margin-left: 0px;
    margin-bottom: 10px;
    border-radius: 30px;
    color: white;
    background-image: linear-gradient(0.25turn, #660000, #cc6600, #ffffff, #ffffff);
}

