@font-face {
    font-family: "hamburgerHeaven";
    src: url('hamburgerHeaven.woff');
}

body {
    background-color: white;
}
.headTitle {
    font-family: "hamburgerHeaven";
    font-size: 40px;
    color: #ffff99;
    background-image: linear-gradient(#990000, #330000);
    text-shadow: 0px 3px 5px rgba(194, 192, 192, 0.9);
    
}

.mainDisplay {
    padding-left: 50px;
}

.navBar{
    background-color: #ffffff;
    margin-top: 10px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 70px;
    border-color: #660000;
    border-width: 1px;
    border-style: solid;
}

.navBarIcons {
    text-align: center;
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
}

.navBarText {
    font-size: 12px;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    height: 15px;
    line-height: 15px;
}


