.pageHead {
    background-color: #660000; 
    text-align: center; 
    color: cornsilk;  
    margin: 0%; 
    padding: 5px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.pageFoot {
    padding-left: 2%; 
    padding-right: 2%; 
}

.contentSandwichImg {
    margin: 1%; 
    text-align: right;
}

.contentSandwichOptions {
    margin: 1%; 
    text-align: left;
    font-size: 10px;
}

.imgSandwich {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.nextLink {
    text-align: right;
}

.globalContent{
    width: 90%;
    height: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    padding-bottom: 0.5%;
    border-style: solid;
    border-radius: 40px;
    border-color: #660000;
    background-color: white;
    box-shadow: 5px 10px 18px #666666;
}

body {
    background: rgba(224, 224, 224, 0.8);
}

.centerStage {
    margin-left: auto; 
    margin-right: auto;
    margin-top: 2%;
}

.centerContent {
    vertical-align: middle;
    height: 100px;
    line-height: 100px;
}

.leftSeparator {
    border-left: solid;
    border-left-color: #cccccc;
}

.rightSeparator {
    border-right: solid;
    border-right-color: #cccccc;
}

.centerText {
    text-align: center;
}

.leftPadding{
    padding-left: 5%;
}

.rightPadding{
    padding-right: 5%;
}

.reviewProductText {
    font-weight: bold;
    padding-left: 2%;
}

/* essai checkbox / radion button customisé */


.container label {
    position: relative;
    left : 50px;
}

.container span::before,
.container span::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.container span.radio:hover {
    cursor: pointer;
}
.container span.radio::before {
    left: -52px;
    width: 45px;
    height: 25px;
    background-color: #A8AAC1;
    border-radius: 50px;
}
.container span.radio::after {
    left: -49px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: #6C788A;
    transition: left .25s, background-color .25s;
}
input[type="radio"]:checked + label span.radio::after {
    left: -27px;
    background-color: #EBFF43;
}

// checkbox


.container span.checkbox:hover {
    cursor: pointer;
}
.container span.checkbox::before {
    left: -52px;
    width: 45px;
    height: 25px;
    background-color: #A8AAC1;
    border-radius: 50px;
}
.container span.checkbox::after {
    left: -49px;
    width: 17px;
    height: 17px;
    border-radius: 10px;
    background-color: #6C788A;
    transition: left .25s, background-color .25s;
}
input[type="checkbox"]:checked + label span.checkbox::after {
    left: -27px;
    background-color: #EBFF43;
}
