.pageHead {
    background-color: #660000; 
    text-align: center; 
    color: cornsilk;  
    margin: 0%; 
    padding: 5px;
}

.pageFoot {
    padding-left: 2%; 
    padding-right: 2%; 
}

.contentSandwichImg {
    margin: 1%; 
    text-align: right;
}

.contentSandwichOptions {
    margin: 1%; 
    text-align: left;
}

.imgSandwich {
    display: block; 
    margin-left: auto; 
    margin-right: auto;
}

.nextLink {
    text-align: right;
}

/*.sandwich {
  position: relative;
  z-index:1;
}
 
.info {
  position: absolute;
  top: 0px;
  right: 130px;
  z-index:2;
}*/